<div class="panel panel-info">
    <div class="panel-heading">
        <span id="post-title{{item.id}}">{{item.title}}</span>
    </div>
    <div class="panel-body">
        {{#if isMessageShowing}}
            <p id="post-message{{item.id}}">{{replace-new-lines item.message}}</p>
            <a {{action "messageHide"}}>Show Less</a>
        {{else}}
            <p id="post-message{{item.id}}">{{shorten-and-replace-new-lines item.message}}</p>
            <a {{action "messageShow"}}>Show More</a>
        {{/if}}
    </div>
</div>