<h4 id="post-title{{item.id}}">{{item.title}}</h4>

{{#if isMessageShowing}}
    <p id="post-message{{item.id}}">{{item.message}}</p>
    <button {{action "messageHide"}}>Less</button>
{{else}}
    <p id="post-message{{item.id}}">{{summarise item.message}}</p>
    <button {{action "messageShow"}}>More</button>
{{/if}}